In [2]:
import pandas as pd
from parser import OLXParser

Create OLXParser instance and retrieve data about apartments from 5 pages

In [3]:
parser = OLXParser()
data = parser.parse_pages(5)

Create DataFrame from retrieved data

In [4]:
df = pd.DataFrame(data, columns=["name", "price", "floor", "area", "location"])

Check DataFrame

In [5]:
df

,name,price,floor,area,location
0,Супер классная! 3хк. кв. Студия + 2 спальни. Ж...,24 000 грн.,13 of 25,78 м²,"Київ, Солом'янськийКиївська область"
1,Терміновий продаж квартири від власника!,32 100 $,11 of 13,64.20 м²,"Івано-Франківськ,Івано-Франківська область"
2,СДАМ 1-2к. 8000т. Приморский. Центр.,8 000 грн.,3 of 20,45 м²,"Одеса, ПриморськийОдеська область"
3,Оренда шикарної -3 кімнатної квартири,1 800 $,4 of 7,116 м²,"Ужгород,Закарпатська область"
4,"ЖК Софія Нова оренда однокімнатна, аренда одно...",9 000 грн.,6 of 9,37.60 м²,"Чабани,Київська область"
...,...,...,...,...,...
255,Продам 2-х комнатную квартиру на 3/5 рынок бар...,18 500 $,4 of 4,44.10 м²,"Макіївка,Донецька область"
256,"Продам 1 кв ЖК Мира 3, м Индустриальная, м.ХТЗ",35 000 $,1 of 9,43 м²,"Харків, ІндустріальнийХарківська область"
257,Продається квартира з ремонтом 49.5 м.кв. у Av...,113 000 $,16 of 25,49.50 м²,"Львів, СихівськийЛьвівська область"
258,Продам 1 кімнатну в новобудові,36 000 $,4 of 5,45 м²,"Рівне,Рівненська область"
259,ЖК Комфорт Сити Люкс с террасой 170 м2. Первая...,2 000 $,2 of 6,170 м²,"Дніпро, ЦентральнийДніпропетровська область"

Check if there are any empty cells in DataFrame

In [6]:
df.isna().sum()

name        0
price       0
floor       0
area        0
location    0
dtype: int64

Write DataFrame into Google Sheet

In [7]:
from writer import write_df_to_sheet

write_df_to_sheet("task_3", df)