In [1]:
import pandas as pd
from parser import OLXParser

Create OLXParser instance and retrieve data about apartments from 5 pages

In [2]:
parser = OLXParser()
data = parser.parse_pages(5)

Create DataFrame from retrieved data

In [3]:
df = pd.DataFrame(data, columns=["name", "price", "floor", "area", "location"])

Check DataFrame

In [4]:
df

,name,price,floor,area,location
0,Трускавець вільні апартаменти/номери/житло на ...,14 500 грн.,2 of 2,1 500 м²,"Трускавець,Львівська область"
1,Здається в довгострокову оренду 2-кімнатна ква...,6 000 грн.,3 of 5,45 м²,"Хмельницький,Хмельницька область"
2,2кімнатна квартира по вул Незалежності будинок...,25 000 $,3 of 4,45 м²,"Ковель,Волинська область"
3,"Оренда дуже гарної великої 1к/квартири ЖК ""Сім...",18 500 грн.,2 of 12,43 м²,"Черкаси,Черкаська область"
4,Здача 2-кімнатної квартири на вул. Кирилівська,6 700 грн.,1 of 9,48 м²,"Київ, ПодільськийКиївська область"
...,...,...,...,...,...
255,1-х кімнатна квартира в ЖК Навігатор,58 000 $,5 of 25,43 м²,"Київ, ОболонськийКиївська область"
256,Оренда вишуканої 3 кім. квартири в центрі Льво...,1 000 $,3 of 5,93 м²,"Львів, ЛичаківськийЛьвівська область"
257,Оренда 3 кім. квартири в центрі Львова вул. Пе...,1 000 $,4 of 5,92 м²,"Львів, ЛичаківськийЛьвівська область"
258,"2 кім квартира. Зданий будинок, район Каскад",37 000 $,11 of 11,70.50 м²,"Івано-Франківськ,Івано-Франківська область"
259,1 кім кв з сучасним ремонтом в гарному стані н...,12 000 грн.,5 of 5,37 м²,"Полтава,Полтавська область"

Check if there are any empty cells in DataFrame

In [5]:
df.isna().sum()

name        0
price       0
floor       0
area        0
location    0
dtype: int64

Write DataFrame into Google Sheet

In [6]:
from writer import write_df_to_sheet

write_df_to_sheet("task_3", df)